.login-form {

  border-radius: 6px 6px 6px 6px;
  border: none;
  background: #f5f5f5;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;

}

li {
  list-style-type: none;
  padding: 0px;
}

h4, h2 {
  padding-top: 20px;
  font-size: large;
  font-weight: bold;
  color: black;
}
p {
  color: black;
}

.dotted-list li {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;

}
.login-form h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Adjust text color */
  margin: 0;
  padding: 10px 0; /* Add some space above and below the title */
}
.login-form p {
  color: #555; /* Adjust text color */
}
.login-form label {
  display: block; /* Make labels display as block elements */
  margin-bottom: 10px; /* Adjust the margin to increase the gap */
  font-size: 16px; /* Adjust label font size */
  padding-right: 30px;
}





