
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/bu.png" class="img-fluid" alt="Your Image">
      <div class="col-md-12 col-xs-12 col-sm-12 res3">
<ul class="sellCarInfolist dotted-list">

   <li>
     <div>
       <h4>Genuine Buyers</h4>
       <p>We let the buyers get in touch with you directly</p>
     </div>
   </li>

   <br>
   <li>
     <div >
       <h2>Your Homes/Rentals stays listed till the Building Materials is sold</h2>
     </div>
   </li>
 </ul>
            </div>
  </div>
      <div class="col-md-6 login-form">
        <div class="auctionFormRight" style="margin-top: 0px;">
          <h3 class="aucformTitle text-center">Register Here</h3>
          <!-- <h2>Register Here</h2> -->
          <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
              <!-- <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" formControlName="name">
              </div> -->
              <div class="aucformFieldsBox">
                <div class="col-md-12 col-sm-12">
                <div class="row form-group">
                      <label class="col-md-2 control-label" style="font-size: 17px;color: #020202; font-family: sans-serif;">Name</label>
                      <div class="col-md-8">
               <div class="input-group">
                      <input type="text" name="name" class="form-control" id="" value="" placeholder="Enter Your Name" required formControlName="name">
                      </div>
                      </div>
                </div></div></div>


          <!-- test -->

              <!-- <div class="form-group">
                <label for="name">Business_Name</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="businessname">
            </div> -->

              <!-- <div class="form-group">
                  <label for="mobile">Mobile No</label>
                  <input type="text" class="form-control" id="mobile" name="mobile" formControlName="mobile">
              </div> -->
              <div class="aucformFieldsBox">
                <div class="col-md-12 col-sm-12">
               <div class="row form-group">
                     <label class="col-md-2 control-label" style="font-size: 17px;color: #020202; font-family: sans-serif;">Mobile<span style="color: red">*</span></label>
                     <div class="col-md-8">
               <div class="input-group">
                     <input type="mobile" name="mobileNo" class="form-control" id="" value="" placeholder="Enter Your Mobile_No"
                          pattern="[1-9]{1}[0-9]{9}" title="Enter 10 digit mobile number" maxlength="10" required>
                     </div>
                     </div>
               </div></div></div>

              <div class="aucformFieldsBox">
                <div class="col-md-12 col-sm-12">
                <div class="row form-group">
                      <label class="col-md-2 control-label" id="one" style="padding: 7px 14px">Email ID<span style="color: red">*</span></label>
                      <div class="col-md-8">
                <div class="input-group">
                      <input type="text" name="emailId" class="form-control" id="txtEmail" value="" placeholder="Enter Your Email_Id" required formControlName="email">
                      </div></div>
                      </div>
                      </div>
                </div>

              <!-- <div class="form-group">
                  <label for="name">Password</label>
                  <input type="text" class="form-control" id="name" name="name" formControlName="password">
              </div> -->
              <div class="aucformFieldsBox">
                <div class="col-md-12 col-sm-12">
                <div class="row form-group">
                      <label class="col-md-2 control-label" id="one" style="padding: 7px 14px">Password<span style="color: red">*</span></label>
                      <div class="col-md-8">
                <div class="input-group">
                      <input type="password" name="password" class="form-control" id="txtpassword" value="" placeholder="Enter Your Email_Id" required formControlName="password">
                      </div></div>
                      </div>
                      </div>
                </div>


              <!-- <div class="form-group">
                 <label for="name">Pincode</label>
                 <input type="text" class="form-control" id="name" name="name" formControlName="pincode">
              </div> -->
              <div class="aucformFieldsBox">
                <div class="col-md-12 col-sm-12">
               <div class="row form-group">
                     <label class="col-md-2 control-label" style="font-size: 17px;color: #020202; font-family: sans-serif;">Pincode<span style="color: red">*</span></label>
                     <div class="col-md-8">
               <div class="input-group">
                    <input type="text" name="pincodeNo" class="form-control" id="pincodeNo"  value="" placeholder="Enter Your Pincode No"
                         title="Enter 6 pincode number" maxlength="6" required formControlName="pincode">
                     </div></div>
                     </div>
                     </div>
               </div>

             <!-- <div class="form-group">
                 <label for="name">D.No/Street</label>
                 <input type="text" class="form-control" id="name" name="name" formControlName="street" >
             </div> -->
             <div class="aucformFieldsBox">
              <div class="col-md-12 col-sm-12">
             <div class="row form-group">
                   <label class="col-md-2 control-label" style="font-size: 17px;color: #020202; font-family: sans-serif;">D.No/street</label>
                   <div class="col-md-8">
             <div class="input-group">
                   <input type="text" name="address" class="form-control" id="" value="" placeholder="Enter Your D.No/Street" required formControlName="street">
                   </div></div>
                   </div>
                   </div>
             </div>

             <!-- <div class="form-group">
              <label for="name">User_Type</label>
              <input type="text" class="form-control" id="name" name="name"formControlName="usertype" >
             </div> -->

             <!-- <div class="form-group">
              <label for="name">Address</label>
              <input type="text" class="form-control" id="name" name="name"formControlName="address" >
             </div> -->



             <!-- <div class="form-group">
                <label for="name">City</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="city">
              </div> -->
              <div class="aucformFieldsBox">
                <div class="col-md-12 col-sm-12">
               <div class="row form-group">
                     <label class="col-md-2 control-label" style="font-size: 17px;color: #020202; font-family: sans-serif;">City</label>
                     <div class="col-md-8">
               <div class="input-group">
                     <input type="text" name="address" class="form-control" id="" value="" placeholder="Enter Your D.No/Street" required formControlName="city">
                     </div></div>
                     </div>
                     </div>
               </div>
              <!-- <div class="form-group">
                <label for="name">State</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="state">
              </div> -->
              <div class="aucformFieldsBox">
                <div class="col-md-12 col-sm-12">
               <div class="row form-group">
                     <label class="col-md-2 control-label" style="font-size: 17px;color: #020202; font-family: sans-serif;">State</label>
                     <div class="col-md-8">
               <div class="input-group">
                     <input type="text" name="state" class="form-control" id="" value="" placeholder="Enter Your State" required formControlName="state">
                     </div></div>
                     </div>
                     </div>
               </div>

              <!-- <div class="form-group">
                <label for="name">District</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="district">
              </div> -->
              <div class="aucformFieldsBox">
                <div class="col-md-12 col-sm-12">
               <div class="row form-group">
                     <label class="col-md-2 control-label" style="font-size: 17px;color: #020202; font-family: sans-serif;">District</label>
                     <div class="col-md-8">
               <div class="input-group">
                     <input type="text" name="district" class="form-control" id="" value="" placeholder="Enter Your District" required formControlName="district">
                     </div></div>
                     </div>
                     </div>
               </div>

                <div class="aucformFieldsBox">
                  <div class="col-md-12 col-xs-12">
                  <input type="checkbox" name="check_agree" id="check_agree"	required value="y" style="width: 20px; height: 20px;  float: left;">
                                      <span class="">
                  <a href="condtions.jsp" target="_blank" class="ul" style="color:#18aedf; font-size: 16px;
                                      float: left;">
                  &nbsp; i agree to the terms and conditions
                  </a>
                  </span>
                  </div>
                  </div>

                  <div class="aucformFieldsBox nomargin">
                  <div class="aucformFieldsBox col-md-12 col-xs-12">
                    <div class="col-md-12 col-xs-12 text-center">
                  <h4>
                  <input class="btn" type="submit" name="sub" value="REGISTER" style=" width: 120px;
                                     background-color: #18aedf; color: white; padding-bottom: 6px;font-size: 17px; line-height: 19px; border: 1px solid #18aedf;">
                   </h4>
                   </div>
                 </div>
                 </div>

              <!-- Add more registration fields here -->

          </form>
        </div>
      </div>
  </div>
</div>
