
.nav-item {

  border-radius: 5px;
  margin: 5px;
}

.nav-link {
  display: inline-block;
  padding: 10px;
  /* font-weight: bold; */
  font-size: 17px;
  font-weight: 400;
  /* color: #583838; */
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: Roboto,sans-serif;

}

.nav-link:hover {
  color: #49b8d6;
}
.ddcol {
  background-color: white;
  color: black;
}

.navbar {
  z-index: 3;
}


.nav-item:hover{
  color: #ffffff;
}


.dropdown-item:hover {
  background-color: #3498db;
  color: #ffffff;
}

.additional-links {
  display: flex;
  justify-content: space-around;
  /* background-color: #9FA6B2;  */
  padding: 10px;
}

.additional-links a {

  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}

.additional-links a:hover {
  background-color: #b9b1b1; /* Background color on hover */
}

/* navbar.component.css */
/*
.navbar-nav .nav-item .nav-link {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
} */

/* Example styles for the dropdown menu items */
.dropdown-menu .dropdown-item {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;

}






