.carousel {
  height: 400px; /* Adjust the desired height */
}
.home-container {
  margin-bottom: -400px;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.request-container {
  position: relative;
  top: -400px;
  margin: 20px;

}

.line-1{
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}


.bg-skyblue {
  background-color: skyblue;
  color: white; /* Set the text color to white */
  font-weight: bold; /* Make the text bold */
}
.services-heading {
  text-align: center;
  background-color: #a3d1f6;
  /* height: 37px; */
  margin: 0px 28px 0px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
}
.foo-bg {
  background-color: black;
  padding-left: 10% !important;
  padding-right: 10% !important;

}
ul {
  list-style-type: none;
  padding: 0px;
}
.address-inner {
  font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
}
.footer-box {
  padding: 0 0 20px;
}

.address {
    position: relative;
    line-height: 1.6;
    margin-bottom: 0;
    color: #fff;
}
.footer-title {
  margin: 0 0 18px;
  font-size: 20px;
  font-weight: 700;
}
.extra-sty {
  transform: rotate(360deg);
  border-radius: 50%;
  transform: scale(1.2); /* Zoom effect */

}
.heading {
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

.subheading {
  color: #fff;
  font-size: 25px;
  line-height: 26pt;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-no-border {
  border: none;
  transition: border-color 0.3s;

}
.card:hover {
  box-shadow: 0 0 20px rgba(24, 174, 223, 0.6);
  transition: box-shadow 0.3s;
}

.card-no-border:hover {
  border: 1px solid #18aedf;
  cursor: pointer;
}
.justify-text {
  text-align: justify;
}
.custom-bg {
  background-color: #18aedf;
}

.single-place-image:hover {
  transform: scale(1.2);
}


.single-place-image {
  /* transition: 0.5s;
  transform: scale(1); */
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.single-place-content {
  position: absolute;
  bottom: 1.6rem;
  left: 0.5rem;
  width: 100%;
  padding: 0 1.875rem;
  z-index: 10;

}

.single-place-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.5s;
  transform: translateY(30px);
}

.single-place-title:hover {
  transform: translateY(-5px); /* Adjust the value as needed for the desired move-up effect */
}



@media (max-width: 767px) {

  .text-container {
    display: none; /* Hide the text content on small screens */
  }
}


.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.min-height-contiainer {
  min-height: 468px;
}

.card {
  /* Your existing card styles */
  overflow: hidden; /* Add this line to clip content that overflows */
}
