<mat-drawer-container class="example-container mat-typography" >
  <mat-drawer #drawer mode="side" disableClose="true" opened="true">
    <button mat-mini-fab (click)="isExpanded = !isExpanded" color="warn" style="margin: 10px;">
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>

    <mat-nav-list>


      <mat-list-item>
        <mat-icon mat-list-icon routerLink="/sp-dashboard/sp-profile">person</mat-icon>
        <span mat-line
              *ngIf="isExpanded"
              routerLink="/sp-dashboard/sp-profile"
              class="menu-text"
              >My Profile</span>
      </mat-list-item>

      <!-- <mat-list-item>
        <mat-icon mat-list-icon routerLink="/sp-dashboard/sp-update-profile">person</mat-icon>
        <span mat-line
              *ngIf="isExpanded"
              routerLink="/sp-dashboard/sp-update-profile"
              class="menu-text"
              >Update Profile</span>
      </mat-list-item> -->

      <mat-list-item>
        <mat-icon mat-list-icon routerLink="/sp-dashboard/sp-add-service">add</mat-icon>
        <span mat-line
              *ngIf="isExpanded"
              routerLink="/sp-dashboard/sp-add-service"
              class="menu-text"
              >Add Service</span>
      </mat-list-item>

      <mat-list-item>
        <mat-icon routerLink="/sp-dashboard/sp-update-availability"
          >list</mat-icon
        >
        <span
          mat-line
          *ngIf="isExpanded"
          routerLink="/sp-dashboard/sp-showmy-services"
          color="primary"
          class="menu-text"
          >Show My Services</span
        >
      </mat-list-item>

      <mat-list-item>
        <mat-icon
          color="primary"
          style="margin-right: 8px"
          routerLink="/sp-dashboard/sp-service-request"
          >list_alt</mat-icon
        >
        <span
          mat-line
          *ngIf="isExpanded"
          routerLink="/sp-dashboard/sp-service-request"
          class="menu-text"
          >Show Service Request</span
        >
      </mat-list-item>

      <!-- <mat-list-item>
        <mat-icon mat-list-icon routerLink="/sp-dashboard/sp-update-service">update</mat-icon>
        <span mat-line
              *ngIf="isExpanded"
              routerLink="/sp-dashboard/sp-update-service"
              class="menu-text"
              >Update Service</span>
      </mat-list-item> -->

      <mat-list-item>
        <mat-icon routerLink="/sp-dashboard/sp-reset-password"
          >vpn_key</mat-icon
        >
        <span
          mat-line
          *ngIf="isExpanded"
          routerLink="/sp-dashboard/sp-reset-password"
          color="primary"
          class="menu-text"
          >Update Password</span
        >
      </mat-list-item>

      <mat-list-item>
        <mat-icon routerLink="/sp-dashboard/sp-update-availability"
          >location_on</mat-icon
        >
        <span
          mat-line
          *ngIf="isExpanded"
          routerLink="/sp-dashboard/sp-update-availability"
          color="primary"
          class="menu-text"
          >Update Availability</span
        >
      </mat-list-item>




    </mat-nav-list>
  </mat-drawer>
<mat-drawer-content>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>

  </div>
</mat-drawer-content>
</mat-drawer-container>



