
<div class="form-container">
  <h2 class="aucformTitle text-center">RESET PASSWORD</h2>
  <form [formGroup]="updateForm" (ngSubmit)="updateSubmitForm()">
    <!-- <div class="form-group">

      <input type="text" id="availability" name="availability" class="form-control" formControlName="email"/>
    </div> -->

    <div class="form-group">

      <input type="text" id="availability" name="availability" class="form-control" placeholder="Enter Your Old Password" formControlName="oldPassword"/>
    </div>


    <div class="form-group">
      <input type="text" id="availability" name="availability" class="form-control" placeholder="Enter Your New Password"
        formControlName="newPassword" />
      <!-- <div class="val" *ngIf="updateForm.get('newPassword')?.hasError('minlength')"
           [ngClass]="{ 'valid': !updateForm.get('newPassword')?.hasError('minlength') }">
        Password must be at least 8 characters.
      </div> -->

      <div class="val" *ngIf="updateForm.get('newPassword')?.hasError('minlength')"
          [ngClass]="{'valid': updateForm.get('newPassword')?.hasError('minLength')}">
        Password must be at least 8 characters.
      </div>


      <div *ngIf="updateForm.get('newPassword')?.hasError('pattern')">

        <div class="val" [ngClass]="{ 'valid': !updateForm.get('newPassword')?.hasError('pattern') }">
          Password must include at least one letter
        </div>

        <div class="val" [ngClass]="{ 'valid': !updateForm.get('newPassword')?.hasError('pattern') }">
          one number
        </div>

        <div class="val" [ngClass]="{ 'valid': !updateForm.get('newPassword')?.hasError('pattern') }">
          and one special character (@#$%&*).
        </div>

      </div>
    </div>


    <div class="form-group">

      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Enter Your Confirm Password" formControlName="confirmPassword" />
      <div *ngIf="updateForm.hasError('passwordMismatch')">
        Passwords do not match.
      </div>
    </div>

    <!-- <div class="form-group">

      <input type="text" id="availability" name="availability" class="form-control" placeholder="Enter Your Confirm Password" formControlName="confirmPassword"/>
    </div> -->



    <button type="submit" class="btn btn-primary">UPDATE</button>
  </form>
</div>
