

body {
  font-family:'Times New Roman', Times, serif;
  margin-top: 20px;
}

.form-container {

  margin-top: 20px;
  border: 2px solid #ddd;
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);


}
.val {
  margin-top: 4px;
  color: red;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.form-group label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 10px;
}


.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;

}

.btn-primary {
  background-color: #007BFF;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}



.btn-primary:hover {
  background-color: #0056b3;
}

input[type="checkbox"] {
  margin-top: 8px;
}

.aucformTitle {
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
}
.resetButton {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add a slight border radius for a rounded appearance */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 16px; /* Adjust font size as needed */
  transition: background-color 0.3s; /* Add a smooth transition effect on background color */
  display: block; /* Make the button a block element to center it */
  margin: 0 auto; /* Center the button horizontally */
}

.resetButton:hover {
  background-color: #0056b3; /* Change background color on hover */
}


