
<div class="container main-container">
  <div class="card card-container ">
    <div class="card-header">
      <h1>Service Request</h1>
    </div>
    <div class="card-body border-right-primary border-left-primary">
      <form [formGroup]="serviceRequestForm" (ngSubmit)="serviceRequestData()">
        <div class="form-row">
          <div class="col-md-3 form-group">
            <label for="service-category" style="color: blue"
              >Service Category*</label
            >
            <select
              class="form-control"
              id="service-category"
              formControlName="serviceCategory"

            >
              <option
                *ngFor="let category of serviceType"
                [value]="category"
              >
                {{ category }}
              </option>
            </select>
          </div>
          <!-- <div class="col-md-2 form-group">
            <label for="field2" style="color: blue">Service Name*</label>

            <select
              class="form-control"
              id="field2"
              name="field2"
              formControlName="serviceName"

            >
              <option
                *ngFor="let serviceName of selectedCategoryServices"
                [value]="serviceName"
              >
                {{ serviceName }}
              </option>
            </select>
          </div> -->
          <div class="col-md-3 form-group">
            <label for="requestFromDate" style="color: blue">Request from Date</label>
            <input
              type="date"
              class="form-control"
              id="requestFromDate"
              name="requestFromDate"
              formArrayName="requestFromDate"
            />
          </div>
          <div class="col-md-3 form-group">
            <label for="requestToDate" style="color: blue">Request To Date</label>
            <input
              type="date"
              class="form-control"
              id="requestToDate"
              name="requestToDate"
              formArrayName="requestToDate"
            />
          </div>
          <div class="col-md-3 form-group">
            <label for="field3" style="color: blue">Location*</label>
            <input
              type="text"
              class="form-control"
              id="location"
              name="location"
              formArrayName="location"
            />
          </div>
          <div class="col-md-3 form-group">
            <label for="requestStatus" style="color: blue"
              >Request Status*</label
            >
            <select
              class="form-control"
              id="request-status"
              formArrayName="requestStatus"
              formControlName="requestStatus"
            >
              <option value="pending">Pending</option>
              <option value="approved">In Progress</option>
              <option value="rejected">Closed</option>
            </select>
          </div>
          <div class="col-md-3 form-group">
            <label for="email" style="color: blue">Email Id</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              formControlName="email"
            />
          </div>
          <div class="col-md-3 form-group">
            <label for="mobile" style="color: blue">Phone Number*</label>
            <input
              type="mobile"
              class="form-control"
              id="mobile"
              name="mobile"
              formControlName="mobile"
            />
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3 mr-3">
    <button class="btn btn-sm btn-primary">Update</button>
  </div>

  <!-- table -->
  <div class="table-container">
    <table class="table table-bordered table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">Srl._No.</th>
          <th scope="col">Req._Order_No.</th>
          <th scope="col">Service Name</th>
          <th scope="col">Service Request Date</th>
          <th scope="col">Pincode</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scopr="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <!-- Add table data here -->
        <tr
          *ngFor="
            let item of tableData
              | paginate
                : {
                    itemsPerPage: 2,
                    currentPage: page,
                    totalItems: totalLength
                  };
            let i = index
          "
        >
          <td>{{ i + 1 + (page - 1) * itemsPerPage }}</td>
          <td>{{ item.REQ_SEQ_ID }}</td>
          <td>{{ item.SERVICE_NAME }}</td>
          <td>{{ item.SERVICE_REQUEST_DATE }}</td>
          <td>{{ item.REQ_PINCODE }}</td>
          <td>{{ item.DESCRIPTION }}</td>

          <td>
            {{item.STATUS}}
          </td>
          <td>
            <form action="">
              <select name="status" id="status" class="form-control">
                <option value="" [selected]="true" disabled>Edit Status</option>
                <option value="pending" [selected]="item.STATUS === 'pending'">
                  Pending
                </option>
                <option
                  value="inprogress"
                  [selected]="item.STATUS === 'inprogress'"
                >
                  In Progress
                </option>
                <option
                  value="closed"
                  [selected]="item.STATUS === 'closed'"
                >
                  Closed
                </option>
              </select>
            </form>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
