/*



.profile-card {
  width: 400px;
  height: 500px;
  margin: 20px;
}

.profile-image {
  background-image: url('../../../assets/Service-images/car.jpg');
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.custom-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #18aedf;
  color: white;
}

.profile {
  margin-top: 2px;
}

.profile-name {
  margin-top: 4px;
  font-size: 16px;
}
.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.profile-details p {
  margin: 0;
}



.custom-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

button {
  margin-top: 10px;
  align-items: center;
}



.profile-details p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

}

.profile-details span {
  font-weight: bold;
  color: #333;
}


.profile-details p:not(:last-child) {
  margin-bottom: 20px;
}





.profile-details span {
  font-weight: bold;
  color: #2196F3;
}


.profile-details p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}


 */

 /* 2nd one */

 body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: white;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}


