<!-- <div class="dashboard-container">

  <div class="sidebar" style="width:15%;">
    <div class="accordion" id="sidebarAccordion">

        <div class="accordion-item p-3 dashboard-item" >
          <a class="nav-link " routerLink="/ec-dashboard/ec-dashboard-pannel">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span >Dashboard</span></a>
        </div>

      <div class="accordion-item p-3 dashboard-item" >
        <a class="nav-link" routerLink="/ec-dashboard/update-profile">
          <span >Update Profile</span></a>
      </div>

      <div class="accordion-item p-3 dashboard-item" >
        <a class="nav-link" routerLink="/ec-dashboard/service-request">
          <span>Submit Service Request</span></a>
      </div>

      <div class="accordion-item p-3 dashboard-item" >
        <a class="nav-link" routerLink="/ec-dashboard/ec-service-request">
          <span >Show Service Request</span></a>
      </div>

      <div class="accordion-item p-3 dashboard-item" >
        <a class="nav-link" routerLink="/ec-dashboard/add-assets">
          <span>Add Assets</span></a>
      </div>

      <div class="accordion-item p-3 dashboard-item" >
        <a class="nav-link" routerLink="/ec-dashboard/edit-assets">
          <span>Show Assets</span></a>
      </div>

    </div>
  </div>


  <div class="main-content body" >
    <router-outlet></router-outlet>
  </div>
</div> -->

<mat-toolbar color="primary">
  <button mat-icon-button (click)="nav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="logo">DASHBOARD</div>
  <div class="extra"></div>
  <mat-icon>share</mat-icon>
  <mat-icon></mat-icon>
</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav opened #nav mode="side">
    <a routerLink="/ec-dashboard/ec-dashboard-pannel" color="primary">
      <button mat-button>
        <mat-icon color="primary">dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
    </a>

    <a routerLink="/ec-dashboard/update-profile" color="primary">
      <button mat-button>
        <mat-icon color="primary">person</mat-icon>
        <span>Update Profile</span>
      </button>
    </a>

    <a routerLink="/ec-dashboard/service-request" color="primary">
      <button mat-button>
        <mat-icon color="primary">assignment</mat-icon>
        <span>Service Request</span>
      </button>
    </a>

    <a routerLink="/ec-dashboard/ec-service-request" color="primary">
      <button mat-button>
        <mat-icon color="primary">list_alt</mat-icon>
        <span>Show Service Request</span>
      </button>
    </a>

    <a routerLink="/ec-dashboard/add-assets" color="primary">
      <button mat-button>
        <mat-icon color="primary">add</mat-icon>
        <span>Add Assets</span>
      </button>
    </a>

    <a routerLink="/ec-dashboard/edit-assets" color="primary">
      <button mat-button>
        <mat-icon color="primary">view_list</mat-icon>
        <span >Show Assets</span>
      </button>
    </a>

    <a routerLink="/ec-dashboard/reset-password" color="primary">
      <button mat-button>
        <mat-icon color="primary">vpn_key</mat-icon>
        <span>Update Password</span>
      </button>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
