



<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar" style="width:15%;">
    <div class="accordion" id="sidebarAccordion">

        <div class="accordion-item p-3 dashboard-item" >
          <a class="nav-link " routerLink="/ec-dashboard/ec-dashboard-pannel">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span >Dashboard</span></a>
        </div>
      <!-- Service Manager Accordion -->
      <div class="accordion-item p-3 dashboard-item" >
        <a class="nav-link" routerLink="/ec-dashboard/update-profile">
          <span >Update Profile</span></a>
      </div>

      <div class="accordion-item p-3 dashboard-item" >
        <a class="nav-link" routerLink="/ec-dashboard/service-request-page">
          <span >Service Request</span></a>
      </div>

    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content body" >
    <router-outlet></router-outlet>
  </div>
</div>


