




.login-form {

  border-radius: 6px 6px 6px 6px;
  border: none;
  background: #f5f5f5;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;

}

.aucformTitle {
  background-color: #4caf50; /* Green background color */
  color: #fff; /* White text color */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; /* Add margin to the bottom of h3 */
}

